* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-color: #202124; */
  background-color: #f7f7f7;
}

.wrapped-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper-container {
  background-color: #fff;
  width: 800px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-master-form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.register-button {
  margin-top: 10px;
  width: 100px;
}

.password-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

.password-title {
  padding: 15px 0px;
}

.login-buttons {
  margin-top: 15px;
}

.login-buttons button:last-child {
  margin-left: 20px;
}
