.create-password-header {
  display: flex;
  align-items: center;
  align-self: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.no-saved-passwords {
  color: #ccc;
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}
